<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/zcode/webm-plus" version="3.0" xml:lang="en">
  <name short="WebM Plus">YouTube WebM Plus</name>
  <description>Enhance your open Web video experience. WebM Plus will let you save WebM videos, and make YouTube behave like Adobe Flash was just a bad dream.</description>
  <author href="http://daniel.priv.no/">Daniel Aleksandersen</author>
  <license href="http://www.opensource.org/licenses/mit-license.php">Licensed under the MIT license. Attribution encouraged.</license>
  <icon src="icon.png" height="64" width="64" />
  <icon src="gfx/favicon.png" height="16" width="16" />
  <preference name="continueTesting" value="true" />
  <preference name="videoSaveButton" value="true" />
  <preference name="filterSearch" value="false" />
  <preference name="hideFlashPromo" value="true" />
  <preference name="hideFlashUpgrade" value="false" />
  <preference name="preventFlash" value="false" />
</widget>